body
{
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	-webkit-background-size: cover;
}

header
{
	background-color: rgba(0, 0, 0, 0.6);
	color: #FFFFFF;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	padding: 20px;
	text-align: center;
}

body
{
	margin: 100px 20px 20px 20px;
}

.login-body
{
	background-color: rgba(255, 255, 255, 0.6) !important;
	margin: auto;
	margin-top: 40vh;
	transform: translateY(-50%);
	padding: 5px;
	width: 400px;
}

.login-body h3
{
	margin-bottom: 30px;
	text-align: center;
}

.hand
{
	cursor: pointer;
}

.d-bg-nav
{
	background-color: rgba(0, 0, 0, 0.6);
	color: #FFFFFF;
}